<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>

    <label class="item">
      <button class="button button-block button-positive"
              ng-click="googleLogIn('google')" type="submit">Google
      </button>
    </label>

    <label class="item">
      <button class="button button-block button-positive"
              ng-click="googleLogIn('facebook')" type="submit">Facebook
      </button>
    </label>

  </ion-content>
</ion-modal-view>
